body
{
    margin: 0;
}

nav
{
    position: relative;
    background: #999;
    margin: 0;
    display: inline-table;
    border-spacing: 30px 0;
}

.market
{
    text-shadow: 1px 0 0 black;
    font: bold 53px 'Comic Sans', Georgia, Arial, sans-serif;
    text-align: center;
    display: table-cell;
}

#r1,
#r2
{
    color: orangered;
}

.viewing
{
    display: table-cell;
    padding: 10px;
}

nav figure
{
    width: 300px;
    margin: 17px 10px;
    padding: 7px;
    font-size: 15px;
    border: 3px solid #444;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    border-radius: 10px;
    color: #444;
}

nav figure figcaption
{
    display: inline-block;
}

input[id='roster']:checked ~ main .one_cat
{
    max-width: 100%;
    display: table;
}

input[id='roster']:checked ~ main .category
{
    width: 45%;
}

input[id='roster']:checked ~ main .cat_name
{
    display: table-caption;
    width: 850px;
    /* padding-left: 100%; веселое свойство, можно его оставить? Потом
    пойму, почему у меня коты начинают бегать по странице от мышки
    с этим свойством и без width, пока не понимаю */
}

input[id='roster']:checked ~ main .cat_photo
{
    height: 100%;
    display: table-cell;

}

input[id='roster']:checked ~ main .cat_common
{
    display: table-cell;
    width: 850px;
}

.cat_sales
{
    text-align: center;
    padding: 0 27px;
}

h2
{
    font: bold 32px 'Bookman old style', Century, 'Courier new', serif;
    color: rgb(245, 146, 164);
}

.one_cat
{
    display: inline-block;
    vertical-align: top;
    max-width: 350px;
    border: solid 2px pink;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.one_cat:hover
{
    box-shadow: 5px -5px 2px pink;
}

.cat_photo
{
    position: relative;
    margin: 10px 15px;
    width: 320px;
    height: 250px;
}

.cat_photo > img
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    opacity: .9;
    margin: 0 auto;
}

.cat_photo > figcaption
{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    text-align: center;
    font: bold 14px 'Bookman old style', Century, 'Courier new', serif;
    color: #ddd;
    width: 100%;
    padding: 10px 0;
    border: solid 1px #444;
    border-radius: 10px;
    background: #444;
    opacity: .6;
}

.cat_photo:hover > img
{
    opacity: 1;
    border-radius: 10px;
}

.cat_photo:hover > figcaption
{
    display: block;
}

.cat_photo > figcaption:hover
{
    opacity: .9;
}

.cat_common
{
    padding: 0 10px;
}

.cat_name
{
    text-align: center;
    width: 170px;
    margin: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cat_name:hover
{
    text-shadow: 2px 0 2px black;
    cursor: pointer;
}

.cat_name > a
{
    font: bold 25px 'Bookman old style', Century, 'Courier new', serif;
    text-decoration: none;
    color: orangered;
}

.category
{
    margin: 5px 0 25px;
    padding: 3px;
    width: 150px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    font: 18px Century;
    color: rgb(235, 100, 125);
}

.cat_common > p:first-of-type
{
    text-shadow: 1px 0 1px rgb(235, 100, 125);
    font: 14px Century;
    text-transform: uppercase;
}

.cat_common > p:nth-of-type(2):hover
{
    color: black;
    text-shadow: 4px 0 4px rgb(235, 100, 125);
    cursor: pointer;
}

.level
{
    text-align: center;
}

.level > label
{
    cursor: pointer;
}

.price
{
    font: bold 20px 'Bookman old style', Century, 'Courier new', serif;
    text-align: center;
    margin: 30px 0 7px;
}

.oldprice
{
    opacity: .8;
    font-size: 80%;
    text-decoration: line-through;
}

.description
{
    font: 18px Garamond, serif;
    margin-top: 7px;
}

input
{
    display: none;
}

input[name*='for']:checked ~ label:nth-of-type(2n)
{
    background: url(pictures/2of2badly.png);
    background-size: cover;
}

input[name*='for']:checked ~ label:nth-of-type(2n+1)
{
    background: url(pictures/1of2badly.png);
    background-size: cover;
}

input[name*='for']:hover ~ label:nth-of-type(2n)
{
    background: url(pictures/2of2bad.png);
    background-size: cover;
}

input[name*='for']:hover ~ label:nth-of-type(2n+1)
{
    background: url(pictures/1of2bad.png);
    background-size: cover;
}

label[for*='lvl']:nth-of-type(2n)
{
    padding: 13px;
    background: url(pictures/2of2good.png);
    background-size: cover;
}

label[for*='lvl']:nth-of-type(2n+1)
{
    padding: 13px;
    background: url(pictures/1of2good.png);
    background-size: cover;
}

input[id='roster']:checked ~ main .rosterview
{
    text-shadow: 1px 1px 7px;
}

input[id='tile']:checked ~ main .tileview
{
    text-shadow: 1px 1px 7px;
}
