body
{
    font: 16px Arial, sans-serif;
    margin: 0 auto;
}

@font-face
{
    font-family: BorderCats;
    src: url(bordercats.ttf);
}

header
{
    color: #da5529;
    background-color: #89cc70;
    padding: 10px;
    position: fixed;
    z-index: 2;
    width: 100%;
    box-shadow: 0 1px 3px 2px #70a77a;
}

h1
{
    font-size: 1.3rem;
    vertical-align: top;
}

h1,
.icon,
.kindness
{
    display: inline-block;
}

.icon
{
    font: 3.5rem BorderCats;
    display: inline-block;
}

main
{
    padding: 100px 50px;
}

section
{
    text-align: center;
}

article
{
    background-color: #aacc97;
    padding: 15px;
    width: 350px;
    height: 480px;
    border: 3px solid transparent;
    display: inline-block;
    margin: 30px;
    vertical-align: top;
}

article:hover
{
    border-color: #da5529;
}

h2
{
    margin: 7px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #da5529;
}

a
{
    text-decoration: none;
    color: #000;
}

h2 a
{
    color: #da5529;
    font-size: 1.3rem;
}

a
{
    max-width: 100%;
}

h2 a:hover
{
    text-decoration: underline;
}

.photo
{
    margin: 0;
    position: relative;
    width: 100%;
    height: 250px;
    text-align: center;
}

.photo > img
{
    position: absolute;
    max-width: 99%;
    max-height: 250px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    border: 3px solid transparent;
}

img:hover
{
    cursor: pointer;
    border-color: #219021;
}

.breed
{
    font-size: .8rem;
}

.breed a:hover
{
    text-decoration: underline;
}

.price:after,
.old-price:after
{
    content: '\f158';
    font-family: FontAwesome;
    margin-left: 5px;
}

.price
{
    color: #219021;
    font-weight: 600;
}

.old-price
{
    color: #373437;
    text-decoration: line-through;
}

.breed,
.price
{
    width: 100%;
    margin: 10px 0;
}

input
{
    display: none;
}

.kindness
{
    display: inline-block;
    font-family: FontAwesome;
    direction: rtl;
    text-align: center;
    font-size: 0;
}

.kindness label:before
{
    display: inline-block;
    content: '\f006';
    font-family: FontAwesome, fantasy;
    font-size: 35px;
    width: 17px;
    overflow: hidden;
    color: #da5529;
}

.kindness .half-star:before
{
    transform: scale(-1, 1);
}

.kindness label:hover:before,
.kindness label:hover ~ label:before,
.kindness input:checked ~ label:before
{
    color: #da5529;
    content: '\f005';
}

.kindness label:hover:before,
.kindness label:hover ~ label:before
{
    color: #da7052;
}

.description
{
    color: #da5529;
    font-weight: 600;
    margin-top: 20px;
}

.price,
.breed
{
    display: inline-block;
}

.info
{
    display: inline-block;
    padding-top: 20px;
    vertical-align: top;
    width: 100%;
}

label[for='list']
{
    color: #da5529;
    background-color: #89cc70;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 20px;
}

input[id='list']:checked ~ main .item
{
    width: 57%;
    vertical-align: top;
    height: 265px;
}

input[id='list']:checked ~ main .item .photo
{
    width: 50%;
    display: inline-block;
}

input[id='list']:checked ~ main .item h2,
input[id='list']:checked ~ main .item .breed,
input[id='list']:checked ~ main .item .kindness,
input[id='list']:checked ~ main .item .price,
input[id='list']:checked ~ main .item .old-price,
input[id='list']:checked ~ main .item .description
{
    display: inline-block;
    width: 90%;

}

input[id='list']:checked ~ main .info
{
    width: 49%;
}
