section
{
    display: inline-block;
    width: 280px;
    position: inherit;
    margin: 20px;
    vertical-align: top;
    height: auto;
}

main
{
    white-space: normal;
}

img[class='list']
{
    width: 20px;
}

div > img
{
    width: 100%;
    position: relative;
    vertical-align: bottom;
    display: inline;
}

input[type='checkbox']
{
    display: none;
}

input[type='checkbox']:checked ~ section
{
    display: table;
    width: 90%;
}

input[type='checkbox']:checked ~ section div
{
    width: 30%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

input[type='checkbox']:checked ~ section div p
{
    white-space: normal;
    text-align: center;
}

.pic
{
    height: 300px;
    vertical-align: bottom;
    display: table-cell;
}

.category
{
    overflow: hidden;
    color: #9eb9ff;
    font-size: 14pt;
}

.cap
{
    color: #ff8321;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.price
{
    color: green;
    font-size: 18pt;
    font-weight: 300;
}

.old-price
{
    text-decoration: line-through;
    font-size: 16pt;
    font-weight: 400;
    color: black;
}

.price::after,
.old-price::after
{
    content: 'RUB';
}

.card
{
    vertical-align: bottom;
    display: block;
}

.score
{
    display: inline;
}

.star
{
    width: 22px;
}
