html
{
    background-color: #fff;
    font-size: 18px;
    color: #222831;
    font-family: 'Roboto', sans-serif;
}

.market-el
{
    display: inline-block;
    border-radius: .5rem;
    height: 100%;
    width: 350px;
    margin: 1rem;
    padding: .5rem;
    background: #fff;
    box-shadow: 0 0 4rem #d1d1d1;
    vertical-align: top;
}

.el-photo
{
    min-height: 250px;
    border-radius: .5rem;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    max-height: 300px;
    max-width: 400px;
}

.el-info,
.el-desc
{
    position: relative;
    width: 100%;
    margin: 0;
}

.el-name
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin: .5rem 0 0;
    padding: 0;
}

.el-kind
{
    display: inline-block;
    font-size: .8rem;
    margin: 0;
}

.el-stars
{
    margin: .2rem .2rem .2rem 0;
}

.el-price
{
    color: #388e3c;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 1rem 1rem 1rem 0;
}

.el-old-price
{
    color: #525050;
    text-decoration: line-through;
}

.el-desc-name
{
    font-size: 1rem;
    margin: 0 1rem .5rem 0;
}

.el-desc-body
{
    margin: 0 0 .5rem;
    font-size: .9rem;
}

.market-el:hover
{
    box-shadow: 0 0 2rem #d1d1d1;
    position: relative;
    bottom: .1rem;
    left: .1rem;
}

.el-name:hover
{
    font-size: 1.5rem;
}

.el-kind:hover
{
    font-size: 1rem;
    font-weight: bold;
}

.switch-rows
{
    font-size: .9rem;
}

.el-photo:hover
{
    opacity: .8;
}

input:checked ~ .market .market-el
{
    width: 90%;
}

input:checked ~ .market .market-el .el-photo
{
    display: inline-block;
    width: 25%;
    min-height: 250px;
    max-height: 300px;
    max-width: 400px;
}

input:checked ~ .market .market-el .el-info
{
    display: inline-block;
    width: 30%;
    margin: 0 0 0 1rem;
    vertical-align: top;
}

input:checked ~ .market .market-el .el-desc
{
    display: inline-block;
    width: 30%;
    margin: 0 0 0 1rem;
    vertical-align: top;
}

.header
{
    font: bold 2rem 'Days One', sans-serif;    
}
