body
{
    width: 100%;
    font-size: 20px;
}

main
{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.wrap
{
    background-image: url('images/back2.jpg');
    width: 100%;
}

.photo
{
    background: #fcf3cc;
    width: 300px;
    height: auto;
    border-radius: 10%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

header
{
    text-align: center;
    font-size: 50px;
}

header:first-letter
{
    color: #f00;
}

header img
{
    width: 100px;
    vertical-align: middle;
}

.cat
{
    display: inline-block;
    padding: 15px;
    width: 320px;
    background: #fdf7ff;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    vertical-align: top;
    opacity: .9;
    height: 700px;
}

.description
{
    text-align: left;
}

.name,
.category
{
    display: block;
    text-align: left;
}

.name
{
    font-size: 120%;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.name:hover
{
    color: #ff23e2;
    transition: 1s;
}

.category
{
    color: #afafaf;
    font-size: 95%;
}

.category:hover
{
    font-size: 100%;
}

.cat:hover
{
    opacity: 1;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.photo:hover
{
    transform: scale(1.1);
    transition: 2s;
}

input[id='list']:checked ~ .wrap .cat 
{
    display: block;
    width: 100%;
    text-align: left;
    height: 275px;
}

input[id='list']:checked ~ .wrap .photo
{
    width: 80%;
    max-height: 100%;
    margin: auto 0;
    top: 0;
    bottom: 0;
}

input[id='list']:checked ~ .wrap .cat .left,
input[id='list']:checked ~ .wrap .cat .middle,
input[id='list']:checked ~ .wrap .cat .right
{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

input[id='list']:checked ~ .wrap .cat .left
{
    width: 33%;
    height: 100%;

}

input[id='list']:checked ~ .wrap .cat .middle
{
    width: 33%;
}

input[id='list']:checked ~ .wrap .cat .right
{
    width: 33%;
}

input[id='list']:checked ~ .wrap p
{
    margin: 0;
}

.left
{
    position: relative;
    width: 100%;
    height: 220px;
    margin-bottom: 5px;
}

.price
{
    text-align: left;
    color: #f00;
    font-size: 150%;
    font-weight: bold;
    margin: 5px 0 0;
}

.price > span
{
    margin-left: 5px;
    font-size: 80%;
    color: #cecccc;
    text-decoration: line-through;
}

input[name*='rating']
{
    display: none;
}

.rating label
{
    display: inline-block;
    width: 25px;
    height: 50px;
}

.rating label:nth-of-type(2n+1)
{
    background: url(images/icoleft2.png);
    margin-right: 0;
}

.rating label:nth-of-type(2n)
{
    background: url(images/icoright2.png);
}

.rating
{
    font-size: 0;
    text-align: left;
    margin-top: 5px;
}

.rating label:hover ~ label,
.rating input:checked + label ~ label

{
    opacity: .5;
}
