/*stylelint-disable max-line-length*/

input[type='checkbox']:checked ~ .to-be-changed .block
{
    float: left;
    position: inherit;
    display: -webkit-box;
}

input[type='checkbox']:checked ~ .to-be-changed
{
    width: 500px;
    height: auto;
    text-align: left;
    margin-right: 8px;
}

input[type='checkbox']:checked ~ .to-be-changed .block .price
{
    margin-top: 3em;
    margin-left: 45em;
}

input[type='checkbox']:checked ~ .to-be-changed .element
{
    margin: 2em;
    padding-left: 8em;
    position: absolute;
}

body
{
    min-width: 349px;
    min-height: 172px;
}

span.rating
{
    display: inline-block;
}

.title
{
    font-weight: bold;
    font-family: cursive;
    text-align: center;
}

.title::first-letter
{
    color: #f00;
}

div
{
    height: 10px;

}

div p
{
    margin: 5px ;
    text-overflow: ellipsis;
}

.block
{
    margin: 10px;
    height: 250px;
    padding: 50px;
    text-align: left;
    width: 190px;
    float: left;
    text-overflow: ellipsis;
}

.name
{
    font-family: sans-serif;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name:hover
{
    color: #9a84ff;
    font-weight: bold;
    font-style: normal;
    font-size: larger;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category
{
    font-family: 'Poiret One', cursive;
    font-style: oblique;
}

.category:hover
{
    color: #b38c62;
    font-weight: bold;
    font-style: normal;
    font-size: larger;
}

.mark
{
    font-size: larger;

}

.price
{
    font-family: 'Pacifico', cursive;
    position: absolute;
    margin-top: -39px;
}

.price:hover
{
    font-weight: bold;
    font-size: larger;
    color: #92b379;
}

.about
{
    font-family: serif;

}

.about:hover
{
    font-size: large;
    font-weight: bold;
    color: #b36370;

}

@media only screen and (max-device-width: 768px)
{
    .title
{
        font-size: 32px;
    }

    div
{
        max-width: 68%;
        height: auto;
        min-width: 349px;
        min-height: 172px;
    }
}

@media only screen and (max-device-width: 480px)
{
    .title
{
        text-align: center;
        font-size: 100%;
    }

    div
{
        max-width: 28%;
        height: auto;
    }
}

@font-face
{
    font-family: 'Poiret One', cursive;
    src: url('https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic');
}

@font-face
{
    font-family: 'Indie Flower', cursive;
    src: url('https://fonts.googleapis.com/css?family=Indie+');
}

@font-face
{
    font-family: 'Pacifico', cursive;
    src: url('https://fonts.googleapis.com/css?family=Pacifico') ;
}

.cat1
{
    background: url(sadcat.jpg);
    display: block;
    width: 196px;
    height: 183px;
}

.cat2
{
    background: url(lovelycat.jpg);
    display: block;
    width: 196px;
    height: 183px;
}

.cat3
{
    background: url(cinemacat.jpg);
    display: block;
    width: 196px;
    height: 183px;
}

.cat4
{
    background: url(confusecat.jpg);
    display: block;
    width: 196px;
    height: 183px;
}

.cat5
{
    background: url(007cat.jpg);
    display: block;
    width: 196px;
    height: 183px;
}

.cat6
{
    background: url(satisfiedcat.jpg);
    display: block;
    width: 196px;
    height: 183px;
}

.cat7
{
    background: url(funnycat.jpg);
    display: block;
    width: 196px;
    height: 183px;
}

.cat8
{
    background: url(scornfulcat.jpg);
    display: block;
    width: 196px;
    height: 183px;
}

.cat9
{
    background: url(seekcat.jpg);
    display: block;
    width: 196px;
    height: 183px;
}

.cat10
{
    background: url(hungrycat.jpg);
    display: block;
    width: 196px;
    height: 183px;
}

.change:hover
{
    background: url(test.jpg);
}

.rating:not(:checked) > input
{
    position: absolute;
    top: -9999px;
    clip: rect(0,0,0,0);
}

.rating:not(:checked) > label
{
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    font-size: 198%;
    line-height: 1.2;
    color: #ddd;
    text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
    cursor: pointer;

}

.rating:not(:checked) > label:before
{
    content: 'â¤ ';
}

.rating > input:checked ~ label
{
    color: #ff0003;
    text-shadow: 1px 1px #cc0b24, 2px 2px #99146a, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label
{
    color: #ff00a1;
    text-shadow: 1px 1px #c76ada, 2px 2px #b590ac, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label
{
    color: #fc7464;
    text-shadow: 1px 1px #da3400, 2px 2px #b50011, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active
{
    top: 2px;
    left: 2px;
}
