@font-face
{
    font-family: 'fontello';
    src: url('./fonts/fontello.woff?2807094') format('woff'), url('./fonts/fontello.ttf?2807094') format('truetype'), url('./fonts/fontello.svg?2807094#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

html
{
    background: #eee;
    font-family: sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}

h1,
h2
{
    margin: 0;
}

main
{
    padding: 20px;
}

.main-header
{
    height: 50px;
    background: #dbdbdb;
    padding: 10px 30px;
}

.main-header h1
{
    font-size: 40px;
}

.main-header h1:first-letter
{
    color: #ff8d0f;
}

.layout-switches
{
    position: absolute;
    top: 2px;
    right: 20px;
    text-align: center;
}

.layout-switches label
{
    display: block;
    border: solid 1px;
    border-radius: 2px;
    padding: 3px;
    margin: 5px 0;
    background: #e9e9e9;
    cursor: pointer;
}

.layout-switches label:hover
{
    box-shadow: 0 0 3px 0 #555;
}

.layout-switches label:active
{
    background: #81b3c9;
    box-shadow: 0 0 1px 0 #555;
}

.tile-layout-switch:checked ~ header label[for='tile-layout-switch'],
.card-layout-switch:checked ~ header label[for='card-layout-switch']
{
    background: #c9f6ff;
}

.market-item:hover
{
    box-shadow: 0 1px 0 3px #a4e4ff;
}

.market-item
{
    transition: all .15s ease;
    display: inline-block;
    width: 300px;
    height: 550px;
    padding: 30px;
    background: #fff;
    border: solid 1px #999;
    vertical-align: top;
    margin: 15px 10px;
    border-radius: 5px;
    position: relative;
}

.item-picture
{
    height: 200px;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.item-picture img
{
    max-height: 200px;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.item-picture img:hover
{
    box-shadow: 0 0 5px 0 #aaa;
}

.item-info h2,
.item-info .item-info-price
{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-info h2 a
{
    text-decoration: none;
    color: #000;
}

.item-info h2 a:hover
{
    color: #48aab9;
}

.item-info-price
{
    text-align: right;
    font: bold 20px monospace;
    color: #759abe;
}

.item-old-price
{
    text-decoration: line-through;
    font: normal .7em monospace;
    color: #ea4f4d;
}

.item-old-price ~ span
{
    color: #67d238;
}

.item-category
{
    font-size: .8em;
}

.item-category:hover
{
    box-shadow: 0 2px 2px 0 #ccc;
}

.item-category a
{
    color: #48aab9;
}

.card-layout-switch:checked ~ main .market-item
{
    display: block;
    width: 60%;
    height: auto;
    margin: 30px auto;
    min-width: 700px;
}

.card-layout-switch:checked ~ main .item-picture,
.card-layout-switch:checked ~ main .item-info
{
    display: inline-block;
    vertical-align: middle;
}

.card-layout-switch:checked ~ main .item-picture
{
    width: 25%;
    margin: 0 30px 0 0;
    max-height: 100%;
    text-align: right;
    padding-right: 30px;
    border-right: solid 1px #aaa;
    height: auto;
}

.card-layout-switch:checked ~ main .item-picture img
{
    position: relative;
    height: auto;
    max-width: 100%;
}

.card-layout-switch:checked ~ main .item-info
{
    height: auto;
    width: 45%;
}

.card-layout-switch:checked ~ main .item-info-price
{
    text-align: left;
}

.rating
{
    display: block;
    border: 0;
    color: #eee;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

input[name='switch'],
.rating input
{
    display: none;
}

.rating label
{
    float: right;
}

.rating label:before
{
    display: inline-block;
    padding: 0 .1em;
    margin: 0;
    cursor: pointer;
    font-family: 'fontello', monospace;
    content: '\e800';
}

.rating label:nth-of-type(2n):before
{
    content: '\e802';
    position: absolute;
    padding-right: 0;
}

.rating input:checked ~ label,
.rating label:hover ~ label,
.rating label:hover
{
    color: #48aab9;
}

.rating input:checked ~ label:hover,
.rating input:checked ~ label:hover ~ label,
.rating label:hover ~ input:checked ~ label
{
    color: #17e7e6;
}
