main
{
    font: 15px sans-serif;
}

input
{
    margin: 0;
    display: none;
}

.marketplace
{
    padding: 5px;
}

.display-control + label
{
    border: solid #7a7a7a;
    width: 24px;
    height: 24px;
    padding: 13px 5px 0;
}

.display-control:checked + label
{
    border-color: #000;
}

.display-control-img
{
    width: 24px;
}

.list:checked ~ div .item
{
    width: 100%;
    margin: 10px 0;
}

.list:checked ~ div .item-img
{
    width: 30%;
}

.list:checked ~ div .item-image
{
    vertical-align: middle;
}

.list:checked ~ div .item-body
{
    width: 30%;
    margin-left: 20px;
}

.list:checked ~ div .description
{
    font-size: 1.5em;
}

.item
{
    width: 350px;
    display: inline-block;
    border: solid;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
}

.item:hover
{
    box-shadow: 0 0 15px rgb(77, 122, 22);
}

.item-img
{
    width: 100%;
    height: 300px;
    margin: 0;
    display: inline-block;
    line-height: 300px;
}

.item-image
{
    vertical-align: bottom;
    width: 100%;
    max-height: 100%;
    bottom: 0;
}

.item-body
{
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: top;
}

.item-name
{
    white-space: nowrap;
    font: 2em sans-serif;
    margin: 5px 0 3px;
}

.item-category
{
    margin-bottom: 10px;
    font-style: italic;
    color: #484848;
    text-decoration: underline;
}

.item-price::before
{
    content: 'Цена: ';
}

.item-price::after
{
    content: ' ед.';
}

p
{
    font-size: .75em;
}

.item-rating
{
    margin-left: 4px;
    margin-bottom: 4px;
    font-size: 0;
}

.item-rating label
{
    display: inline-block;
    width: 8px;
    height: 15px;
}

.item-rating label:nth-of-type(2n)
{
    margin-right: 2px;
}

.item-rating label:nth-of-type(2n+1)
{
    background: url('images/l_half.png');
}

.item-rating label:nth-of-type(2n)
{
    background: url('images/r_half.png');
}

.item-rating input:checked ~ label
{
    opacity: .5;
}

.item-rating input:hover ~ label
{
    opacity: .2;
}
