input[id='lines']:checked ~ article
{
    width: 1000px;
    margin: 50px auto;
    display: block;
    background-position-y: -810px;
    background-position-x: -120px;
    background-size: 115%;
}

input[id='lines']:checked ~ article > figure
{
    width: 30%;
    margin: 0 2.5%;
    display: inline-block;
}

input[id='lines']:checked ~ article > figure > img
{
    top: 0;
}

input[id='lines']:checked ~ article > section
{
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

input[id='lines']:checked ~ article h1
{
    margin-top: 0;
}

main > label
{
    background-color: white;
    padding: 10px;
}

main
{
    padding-bottom: 100px;
}

article input
{
    display: none;
}
