input[id='layout-list']:checked ~ .cards-container
{
    margin: 1rem 7rem;
}

input[id='layout-list']:checked ~ .cards-container .card
{
    width: 100%;
    display: table;
}

input[id='layout-list']:checked ~ .cards-container .card__image
{
    width: 27%;
    float: left;
    margin-right: 10%;
    height: 300px;
}

input[id='layout-list']:checked ~ .cards-container .card__description
{
    width: 25%;
    display: table-cell;
}

