
.stars
{
    color: white;
    display: inline-block;
    /*Поддерживается всеми кроме IE и Opera Mini*/
    -webkit-text-stroke: 1px #a0640a;

}

.stars input
{
    display: none;
}

.stars label
{
    float: right;
}

.stars label:before
{
    display: inline-block;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: FontAwesome, monospace;
    content: '\f005';
}

.stars label:nth-child(4n-1):before
{
    content: '\f089';
    position: absolute;
    margin-top: .5px;
    margin-left: .5px;
    -webkit-text-stroke-width: 0;
}

.stars input:checked ~ label,
.stars label:hover,
.stars label:hover ~ label
{
    color: #ffc613;
}

