
.stars
{
    color: #ffc613;
    display: inline-block;
    border: 0;
}

.stars input
{
    display: none;
}

.stars label
{
    float: right;
}

.stars label:before
{
    display: inline-block;
    font-size: 1.1rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome, monospace;
    content: '\f005';
}

.stars label:nth-child(2n):before
{
    content: '\f089';
    position: absolute;
    padding-right: 0;
}

.stars input:checked ~ label,
.stars label:hover,
.stars label:hover ~ label
{
    color: #ffc613;
}

.stars input:checked + label:hover,
.stars input:checked ~ label:hover,
.stars input:checked ~ label:hover ~ label,
.stars label:hover > input:checked ~ label
{
    color: #ffc613;
}
